<div class="row dev-task-container">
  <div class="col-xs-12 col-md-6 mx-auto">

    <%= link_to 'Back', project_tasks_path(@task.project) %>
    <div class="jumbotron">
      <h6><%= verb %></h6>
      <h1 class="display-4">Task</h1>
      <hr class="my-4">
      <%= form_for([@task.project, @task]) do |f| %>
        <% if @task.errors.any? %>
          <div id="error_explanation">
            <h6><%= pluralize(@task.errors.count, "error") %></h6>
            <ul>
              <% @task.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="form-group">
          <%= f.label :todo %>
          <%= f.text_field :todo, class: 'form-control', autofocus: true, autocomplete: "task description", required: true %>
        </div>

        <div class="form-group">
          <%= f.label :status %><br />
          <%= f.select :status, :collection => Task.statuses.keys.first(2).to_a, class: 'form-control' %>
        </div>

        <div class="form-group developer-selector">
          <%= f.label :developer %><br />
          <%= f.select(:developer_id, User.developers.collect {|u| [u.full_name, u.id]}, :prompt => 'Select', class: 'form-control' ) %>
        </div>

        <%= f.submit "Submit", class: 'btn btn-primary' %>
      <% end %>

    </div>
  </div>
</div>

<script type="text/javascript">
    new KIVOTAL.DevTask($('.dev-task-container'));
</script>


