<%= link_to 'Back', projects_path %>
<div class="jumbotron">
  <h6>Manage tasks for</h6>
  <h1 class="display-4"><%= @project.title %></h1>
  <%= link_to 'Create New Task', new_project_task_path(params[:project_id]) %>
</div>

<table class="table">
  <thead class="thead-light">
  <tr>
    <th>Todo</th>
    <th>Status</th>
    <th>Developer</th>
    <th>Actions</th>
  </tr>
  </thead>
<% @tasks.each do |task| %>
  <tr>
    <td><%= task.todo %></td>
    <td><%= task.status.humanize %></td>
    <td><%= task.try(:developer).try(:full_name) %></td>
    <td>
      <%= link_to 'Edit', edit_project_task_path(task.project, task) %> &nbsp;
      <%= link_to 'Destroy', [task.project, task],:method => :delete, data: { confirm: 'Are you sure?' }%>
    </td>
  </tr>
<% end %>
</table>



