<div class="row">
  <div class="col-xs-12 col-md-6 mx-auto">
    <div class="jumbotron">
      <h6><%= verb %></h6>
      <h1 class="display-4">Project</h1>
      <hr class="my-4">
      <%= form_with(model: project, local: true) do |f| %>

        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title, class: 'form-control', autofocus: true, autocomplete: "project title", required: true %>
        </div>

        <%= f.submit "Submit", class: 'btn btn-primary' %>
      <% end %>

    </div>
  </div>
</div>

